body {
  background-color: #606c38;
  font-size: 1.2rem;
  overflow-x: hidden;
}

:root {
  --pink: #f14e95;
  --bg: #000;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

img {
  width: 100%;
}

/* hero */

.hero h4 {
  font-size: 2.7rem;
}
.hero h1 {
  font-size: 3.3rem;
}
.hero p {
  font-size: 1.3rem;
}
.hero a {
  font-size: 1.2rem;
}

.my-navbar {
  background-color: rgba(255, 255, 255, 0.4) !important;
  backdrop-filter: blur(5px);
}

.my-navbar .navbar-brand,
.my-navbar .offcanvas-title {
  font-family: "Sacramento", cursive;
  font-weight: bold;
  color: white;
  text-shadow: var(--shadow);
}

.my-navbar .offcanvas {
  height: 60vh;
  width: 70%;
  border-radius: 10px;
  font-size: 1.3rem;
  background-color: #373f55;
}

/* hero-selesai */

.hero {
  /* margin-top: 50px; */
  background-image: url(img/bukber.jpg);
  background-size: cover;
  background-position: center;
  min-height: 700px;
}

.nav-link {
  color: #f7f8f7;
  font-size: 1.2rem;
  text-shadow: var(--shadow);
}
.navbar-nav a:hover {
  color: red;
  text-shadow: var(--shadow);
  text-shadow: var(--shadow);
}
.about img {
  box-shadow: var(--shadow);
}

.heading h1 {
  display: block;
  position: absolute;
  top: 143%;
  left: 55%;
  font-size: 1.7rem;
  width: 250px;
  border-bottom: 1px solid red;
  text-shadow: var(--shadow);
}
.sub-heading p {
  display: block;
  top: 153%;
  left: 55%;
  font-size: 1rem;
  width: 450px;
  position: absolute;
  text-shadow: var(--shadow);
}

h4,
h1,
main {
  text-shadow: var(--shadow);
}

/* kelas */

.kelas {
  padding-top: 10rem;
  padding-bottom: 5rem;
}
.kelas h2 {
  color: white;
  font-weight: bold;
  text-shadow: var(--shadow);
  font-size: 4rem;
}
.kelas span {
  text-transform: uppercase;
  color: lightgray;
  display: block;
  letter-spacing: 1px;
  font-weight: 300;
  text-shadow: var(--shadow);
}
.kelas p {
  color: white;
  font-weight: 300;
  text-shadow: var(--shadow);
}
.rangkaian {
  list-style: none;
  color: white;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}
.rangkaian::before {
  content: "";
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: white;
  position: absolute;
  left: 50%;
}
.rangkaian li {
  margin-bottom: 1.5rem;
  position: relative;
}
.rangkaian li::before,
.rangkaian li::after {
  content: "";
  display: table;
}
.rangkaian li::after {
  clear: both;
}

.rangkaian li .gambar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.rangkaian li .text-panel {
  width: 40%;
  float: left;
  border: 1px solid white;
  padding: 2rem;
  position: relative;
  border-radius: 20px;
  background-color: #654321;
}

.rangkaian li .text-panel::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  top: 80px;
  right: -15px;
}

.rangkaian li .text-panel::after {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 14px solid transparent;
  border-left: 14px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 14px solid transparent;
  top: 81px;
  right: -13px;
}

.rangkaian li.inverted .text-panel {
  float: right;
}

.rangkaian li.inverted .text-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.rangkaian li.inverted .text-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}
/* kelas-selesai */

/* jurusan */

.jurusan h2 {
  color: white;
  font-size: 4rem;
  font-weight: bold;
}

.jurusan span {
  color: lightgray;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 3px;
}

.jurusan p {
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
}
/* jurusan-selesai */

/* card */

img {
  width: 100%;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d4c9b4;
  border-radius: 20px;
  box-shadow: var(--shadow);
}
.card {
  box-shadow: var(--shadow);
  margin: 0 10px;
  width: 20rem;
}

.card-body {
  background-color: #373f55;
}
.card-body h3 {
  font-size: 20px;
  color: #f7f8f7;
  font-weight: bold;
}
.card-text p {
  font-size: 1rem;
  text-align: left;
  color: #f7f8f7;
  font-weight: 300;
}

.galeri-text h2 {
  font-size: 4rem;
  color: white;
  font-weight: bold;
  text-shadow: var(--shadow);
}

.galeri-text p {
  color: lightgray;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  text-shadow: var(--shadow);
}

/* card-selesai */

footer {
  margin-top: 2.5rem;
  padding: 2rem;
  background-color: grey;
  color: white;
}

footer a {
  color: var(--bg);
  font-weight: bold;
  text-decoration: none;
}

/* media query */

/* wxtralarge */

@media (max-width: 1200px) {
}

/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .kelas {
    margin-top: 10rem;
    margin-bottom: 5rem;
  }

  .rangkaian::before {
    left: 60px;
  }
  .rangkaian li .gambar {
    left: 15px;
    margin-left: 45px;
    top: 16px;
  }
  .rangkaian li .text-panel {
    width: calc(100% - 200px);
    float: right;
  }
  .rangkaian li .text-panel::before {
    border-left-width: 0;
    border-right-width: 15px;

    left: -15px;
    right: auto;
  }
  .rangkaian li .text-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
  }
  .simply-countdown > .simply-section {
    padding: 70px;
  }
}

/* tabblet */

@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }

  .sticky-top {
    overflow: hidden;
  }
  .my-navbar .nav-link {
    font-size: 2.4rem;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
  }
  .kelas h2 {
    color: white;
    font-weight: bold;

    text-shadow: var(--shadow);
    font-size: 4rem;
  }
  .kelas span {
    margin-top: 15rem;
    text-transform: uppercase;
    color: lightgray;
    display: block;
    letter-spacing: 1px;
    font-weight: 300;
    text-shadow: var(--shadow);
  }
  .kelas p {
    color: white;
    font-weight: 300;
    text-shadow: var(--shadow);
  }

  .jurusan h2 {
    color: white;
    font-size: 3rem;
    font-weight: bold;
  }

  .jurusan span {
    color: lightgray;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 3px;
  }

  .jurusan p {
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
  }

  .heading h1 {
    display: block;
    left: 55%;
    top: 87%;
    font-size: 1.7rem;
  }

  .sub-heading p {
    display: block;
    top: 90%;
    width: 35%;
    left: 55%;
    font-size: 1rem;
  }

  .container img {
    width: 100px;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap; /* Mengatur agar kartu-kartu berjejer ke bawah saat ukuran layar lebih kecil */
    justify-content: center;
    align-items: center;
    background-color: #d4c9b4;
    border-radius: 20px;
    box-shadow: var(--shadow);
    background-size: cover;
    padding: 20px; /* Menambahkan padding agar kartu-kartu tidak terlalu dekat dengan tepi kontainer */
  }

  .card {
    box-shadow: var(--shadow);
    margin: 10px; /* Atur jarak antara kartu-kartu */
    width: 15rem;
  }
  .card img {
    width: 100%;
    height: auto;
  }
}

/* mobile */

@media (max-width: 576px) {
  html {
    font: 50%;
  }

  .simply-countdown > .simply-section {
    padding: 35px;
    margin: 3px;
  }

  .hero h4 {
    font-size: 1.5rem;
  }
  .hero h1 {
    font-size: 2.3rem;
  }
  .hero p {
    font-size: 0.9rem;
    width: 80%;
  }
  .hero a {
    font-size: 0.9rem;
  }

  .jurusan span {
    font-size: 0.9rem;
  }

  .jurusan h2 {
    font-size: 3.3rem;
  }
  .jurusan p {
    font-size: 1rem;
  }

  .heading h1 {
    position: absolute;
    font-size: 13px;
    top: 175%;
    left: 10%;
    width: 100px;
    margin-top: 0;
  }
  .sub-heading p {
    position: absolute;
    font-size: 11px;
    top: 180%;
    width: 240px;
    margin-top: 0;
    margin-bottom: 20px;
    left: 10%;
  }

  .kelas span {
    margin-top: 90%;
    text-transform: uppercase;
    color: lightgray;
    display: block;
    letter-spacing: 1px;
    font-weight: 300;
    text-shadow: var(--shadow);
  }

  .rangkaian li .gambar {
    width: 70px;
    height: 70px;
    position: absolute;
  }

  .rangkaian li .text-panel {
    width: 60%;
    transform: translateX(-20px);
    left: 8px;
  }
  .rangkaian li .text-panel::before {
    top: 35px;
  }
  .rangkaian li .text-panel::after {
    top: 35px;
  }
}
